table{
    border-color:black; 
    border-style:outset; 
    border-radius: 10px; 
    width: 300px;
    height: 300;
}
.foto{
    width: 200px;
    border-radius: 360px;
}
.nombre{
    -webkit-text-fill-color: brown;
}
.descripcion{
    -webkit-text-fill-color:peru;
}
h2{
-webkit-text-fill-color: sienna;
}
header{
    display: flex;
    flex-direction: row;
}

