article{
    border-color:whitesmoke; 
    border-style:outset; 
    border-radius: 10px; 
    width: 300px;
    height: 300;
}
.foto{
    width: 200px;
    border-radius: 360px;
}
.nombre{
    -webkit-text-fill-color:aquamarine;
}
.descripcion{
    -webkit-text-fill-color:cyan;
}
h2{
-webkit-text-fill-color: rgb(128, 235, 235);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:blueviolet
}
.fila{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body{
    background: url("fondo.jpeg");
    background-size: cover;
    background-position: center;
}
li{
    -webkit-text-fill-color:rgb(165, 161, 231);
}
a{
    -webkit-text-fill-color:ghostwhite;
}