<header class="flex h-20 w-full shrink-0 items-center px-4 md:px-6 bg-background">
    <a class="mr-6 flex items-center" href="/" rel="ugc">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6 text-primary"
      >
        <polyline points="16 18 22 12 16 6"></polyline>
        <polyline points="8 6 2 12 8 18"></polyline>
      </svg>
      <span class="ml-2 text-lg font-bold">Briefcase</span>
    </a>
    <nav
      aria-label="Main"
      data-orientation="horizontal"
      dir="ltr"
      class="relative z-10 max-w-max flex-1 items-center justify-center ml-auto hidden lg:flex"
    >
      <div style="position: relative;">
        <ul
          data-orientation="horizontal"
          class="group flex flex-1 list-none items-center justify-center space-x-1"
          dir="ltr"
        >
          <a
            class="group inline-flex h-9 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium text-primary transition-colors hover:bg-primary hover:text-primary-foreground focus:bg-primary focus:text-primary-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-primary/50 data-[state=open]:bg-primary/50"
            data-radix-collection-item=""
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            rel="ugc"
          >
            Home
          </a>
          <a
            class="group inline-flex h-9 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium text-primary transition-colors hover:bg-primary hover:text-primary-foreground focus:bg-primary focus:text-primary-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-primary/50 data-[state=open]:bg-primary/50"
            data-radix-collection-item=""
            routerLink="/skills"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            rel="ugc"
          >
            Skills
          </a>
          <a
            class="group inline-flex h-9 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium text-primary transition-colors hover:bg-primary hover:text-primary-foreground focus:bg-primary focus:text-primary-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-primary/50 data-[state=open]:bg-primary/50"
            data-radix-collection-item=""
            routerLink="/projects"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            rel="ugc"
          >
            Projects
          </a>
          <a
            class="group inline-flex h-9 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium text-primary transition-colors hover:bg-primary hover:text-primary-foreground focus:bg-primary focus:text-primary-foreground focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-primary/50 data-[state=open]:bg-primary/50"
            data-radix-collection-item=""
            routerLink="/about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            rel="ugc"
          >
            About
          </a>
        </ul>
      </div>
      <div class="absolute left-0 top-full flex justify-center"></div>
    </nav>
    <button
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 w-10 lg:hidden"
      type="button"
      aria-haspopup="dialog"
      aria-expanded="false"
      aria-controls="radix-:r5:"
      data-state="closed"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6"
      >
        <line x1="4" x2="20" y1="12" y2="12"></line>
        <line x1="4" x2="20" y1="6" y2="6"></line>
        <line x1="4" x2="20" y1="18" y2="18"></line>
      </svg>
      <span class="sr-only">Toggle navigation menu</span>
    </button>
  </header>