.desktop-1 {
    position: absolute;
    background-color: #ffffff;
    height: 1024px;
    width: 1440px;
    padding: 0px;
}

.image1 {
    height: 1016px;
    width: 1461px;
    position: absolute;
    top: 0px;
    left: -21px;
}

.rectangle1 {
    background-color: #d9d9d9;
    height: 80px;
    width: 447px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    left: 262px;
    top: 508px;
    position: absolute;
}

.correoelectronico {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 32px;
    font-family: Inter;
    left: 354px;
    top: 528px;
    width: 281px;
    height: 39px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.rectangle2 {
    background-color: #048485;
    height: 76px;
    width: 277px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    top: 512px;
    left: 758px;
    position: absolute;
}

.reservaya {
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    vertical-align: text-middle;
    font-size: 32px;
    font-family: Inter;
    left: 813px;
    top: 530px;
    width: 167px;
    height: 39px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}

.xtremelanding {
    color: #ffffff;
    text-align: center;
    vertical-align: text-middle;
    font-size: 48px;
    font-family: Inter;
    left: 262px;
    top: 237px;
    width: 358px;
    height: 58px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
}
