table{
    border:10px;
    border-radius: 8px;
    border-style: groove;
    size: 80px;
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-color: grey;
    font-size: 14px;
}
td{
    border: 10px;
    border-style: groove;
    width: 300px;
    height: 50px;
    background-color: aqua;
}
th{
    background-color: aquamarine;
    width: 200px;
    border-style: groove;
}


