table{
    border:10px;
    border-radius: 8px;
    border-style: groove;
    size: 80px;
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background-color: grey;
    font-size: 14px;
    width: 100hw;
    height: 100vh;
    align-items: center;
}
td{
    border: 10px;
    border-style:ridge;
    width: 200px;
    height: 50px;
    background-color: aqua;
}
th{
    background-color: aquamarine;
    width: 200px;
    height: 50px;
    border-style: ridge;
    border:10px;
}
form{
    display: flex;
    flex-direction: column;
    background-color: black;
    -webkit-text-fill-color: bisque;
    border-style:solid;
    border-radius:20px;
    padding: 15px;
}

